.form{
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: fixed;
    margin-top: 250px;
    margin-left: 300px;
    background-color: #aef6ff;
    border-radius: 20px;
    width: 400px;
    height: 300px;
}