.result_table {
    margin: 20px;
    border-radius: 10px;
    text-align: center;
}

table {
    border-collapse: collapse !important;
    width: 70% !important;
    margin: auto !important;
}

th, td {
    text-align: center !important;
    border: 3px solid #8e98e7 !important;
    padding: 10px 15px !important;
}

th {
    background-color: #6e6e6e !important;
    color: #222742 !important;
}

td {
    background-color: rgba(56, 40, 49, 0.55);
    color: #FFFFFF !important;
    word-break: break-all !important;
}

@media (max-width: 1152px) and (min-width: 843px) {
    th, td {
        padding: 5px 8px !important;
        border: 2px solid #996AD6 !important;
        font-size: 10px;
    }
}

@media (max-width: 843px) {
    th, td {
        padding: 2px 5px !important;
        border: 1px solid #996AD6 !important;
        font-size: 8px;
    }
}
.hit{
    color: #aef6ff;
}
.miss{
    color: darkred;
}